.createRecipe {
  max-width: 480px;
  margin: 60px auto;
  color: #555;
}

.createRecipe label span {
  display: block;
  margin: 30px 0 10px;
}

.createRecipe p {
  margin-top: 10px;
  font-size: 0.8em;
}

.createRecipe button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: white;
  padding: 8px 20px;
  border: 0;
  background: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.createRecipe .ingredients {
  display: flex;
  align-items: center;
  height: 50px;
}
.createRecipe .ingredients button {
  margin-left: 10px;
}
